/* 
    DIMENSIONES

    ABSOLUTA -> px

    RELATIVAS -> %
              -> viewport (ancho viewwidth, alto viewhight)
              -> rem
              -> em
*/

/* div {
    background-color: orange;
}

span {
    background-color: greenyellow;
} */

/********* PORCENTUALES **********/

/* .padre {
  background-color: orange;
  width: 400px;
  height: 400px;
}

.hijo {
  background-color: aqua;
  width: 25%;
  height: 25%;
} */

/********* VIEWPORT *********/

/* * {
    margin: 0;
}

body {
    overflow-x: hidden;
}

.uno {
    background-color: blueviolet;
    width: 100%;
    height: 100vh;
}
.dos {
    background-color: white;
    width: 100%;
    height: 100vh;
} */



/********* REM Y EM *********/

/* Los REM son una mecanica de referencia global */

html {
    font-size: 20px; /* 1 REM -> 20px */
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}

/* 
    Los REM son una mecanica de referencia local
    Dependen de la medida de fuente del container padre
    Esa medida solo rige dentro del container padre
*/

.rebelde {
    font-size: 12px; /* 1em -> 12px */
}
.rebelde h1 {
    font-size: 2em;
}
.rebelde h2 {
    font-size: 1.75em;
}
.rebelde h3 {
    font-size: 1.5em;
}
.rebelde h4 {
    font-size: 1.25em;
}