
/* 
    GRID

    Es un sistema para desarrollar estructuras que pueden ser de filas, columnas o una combinacion de ambas,
    comunmente llamadas grillas.

    A diferencia de Flexbox, Grid no es flexible por naturaleza pero es posible flexibilizarlo con ayuda 
    de otra herramienta que veremos hoy llamada Media Query.
*/



/* .container {
    background-color: black;
    width: 500px;
    height: 500px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.box {
    background-color: gray;
    border: 1px solid white;
    color: white;
} */

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr
}
.box {
    background-color: blue;
    border: 1px solid white;
}

/* MEDIA QUERY */
/****** TABLET ******/
@media screen and (min-width: 768px){
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .box {
        background-color: green;
    }
} 
/****** DESKTOP ******/
@media screen and (min-width: 1400px){
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
    .box {
        background-color: red;
    }
} 